{
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["module-resolver", {
      "root": ["./"]
    }],
    ["dynamic-import-node"]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}